<div class="animated fadeIn">
  <div class="row">

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Analysis :Alert Count
        </div>
        <div class="card-body">
            <iframe class="col-lg-12" style="height:300px;" src="http://211.252.86.169:5602/app/kibana#/dashboard/286c2920-4e99-11e8-849d-1fc30615e2eb?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((gridData:(h:2.5,i:'1',w:12,x:0,y:0),id:'60fed7c0-48fd-11e8-849d-1fc30615e2eb',panelIndex:'1',type:visualization,version:'6.1.1')),query:(language:lucene,query:''),timeRestore:!t,title:'Alert+indices',uiState:(P-1:(spy:(mode:(fill:!f,name:!n)),vis:(legendOpen:!f))),viewMode:view)"></iframe>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
            Analysis : Alert per Time
        </div>
        <div class="card-body">
            <iframe class="col-lg-12" style="height:300px;" src="http://211.252.86.169:5602/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((gridData:(h:2.3,i:'1',w:12,x:0,y:0),id:'8344cc90-48fd-11e8-849d-1fc30615e2eb',panelIndex:'1',type:visualization,version:'6.1.1')),query:(language:lucene,query:''),timeRestore:!f,title:'New+Dashboard',uiState:(),viewMode:edit)"></iframe>
            
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Threat intrusion : Metric Alert
        </div>
        <div class="card-body">
            <iframe class="col-lg-12" style="height:200px;" src="http://211.252.86.169:5602/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((gridData:(h:1.4,i:'1',w:12,x:0,y:0),id:Wazuh-App-Overview-General-Metric-alerts,panelIndex:'1',type:visualization,version:'6.1.1')),query:(language:lucene,query:''),timeRestore:!f,title:'New+Dashboard',uiState:(),viewMode:edit)"></iframe>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
            Threat intrusion : General level 12 Alert
        </div>
        <div class="card-body">
            <iframe class="col-lg-12" style="height:200px;" src="http://211.252.86.169:5602/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((gridData:(h:1.5,i:'1',w:12,x:0,y:0),id:Wazuh-App-Overview-General-Level-12-alerts,panelIndex:'1',type:visualization,version:'6.1.1')),query:(language:lucene,query:''),timeRestore:!f,title:'New+Dashboard',uiState:(),viewMode:edit)"></iframe>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
            Threat intrusion : Authentication Failure
        </div>
        <div class="card-body">
            <iframe class="col-lg-12" style="height:200px;" src="http://211.252.86.169:5602/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((gridData:(h:1.5,i:'1',w:12,x:0,y:0),id:Wazuh-App-Overview-General-Authentication-failure,panelIndex:'1',type:visualization,version:'6.1.1')),query:(language:lucene,query:''),timeRestore:!f,title:'New+Dashboard',uiState:(),viewMode:edit)"></iframe>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
            Threat intrusion : Authentication Success
        </div>
        <div class="card-body">
            <iframe class="col-lg-12" style="height:200px;" src="http://211.252.86.169:5602/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((gridData:(h:1.5,i:'1',w:12,x:0,y:0),id:Wazuh-App-Overview-General-Authentication-success,panelIndex:'1',type:visualization,version:'6.1.1')),query:(language:lucene,query:''),timeRestore:!f,title:'New+Dashboard',uiState:(),viewMode:edit)"></iframe>
        </div>
      </div>
    </div>

    
    <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
              Threat intrusion : Top5 Agent
          </div>
          <div class="card-body">
              <iframe class="col-lg-12" style="height:300px;" src="http://211.252.86.169:5602/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((gridData:(h:2.3,i:'1',w:12,x:0,y:0),id:Wazuh-App-Overview-General-Top-5-agents,panelIndex:'1',type:visualization,version:'6.1.1')),query:(language:lucene,query:''),timeRestore:!f,title:'New+Dashboard',uiState:(),viewMode:edit)"></iframe>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
          <div class="card">
            <div class="card-header">
                Threat intrusion : Alerts per time
            </div>
            <div class="card-body">
                <iframe class="col-lg-12" style="height:300px;" src="http://211.252.86.169:5602/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((gridData:(h:2.5,i:'1',w:12,x:0,y:0),id:Wazuh-App-Overview-General-Alerts,panelIndex:'1',type:visualization,version:'6.1.1')),query:(language:lucene,query:''),timeRestore:!f,title:'New+Dashboard',uiState:(),viewMode:edit)"></iframe>
            </div>
          </div>
        </div>
    <!-- //overview 
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-bell bg-primary p-4 font-2xl mr-3 float-left"></i>

          <div class="h5 text-primary mb-0 mt-2 ">Alert</div>
          <h4 class="mb-0">9.823</h4>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Alert</div>
        </div>
      </div>
    </div>
 

    <div class="col-6 col-lg-3">
      <div class="card ">
        <div class="card-body p-3 clearfix">
          <div class="chart-wrapper px-3 float-right" style="width:200px;height:75px;">
            <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels" [options]="lineChart2Options" [colors]="lineChart2Colours"
              [legend]="lineChart2Legend" [chartType]="lineChart2Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
          <i class="fa fa-tachometer bg-danger p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 mt-2 ">CPU</div>
          <h4 class="mb-0">30%</h4>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Current</div>
        </div>
      </div>
    </div>
    

    <div class="col-6 col-lg-3">
      <div class="card ">
        <div class="card-body p-3 clearfix">
          <div class="float-right" style="margin-top:35px;">
            <div class="progress progress-xs mt-3 mb-0 " style="width:150px;">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="50"></div>
            </div>
          </div>
          <i class="fa fa-film bg-warning p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 mt-2 ">MEMORY</div>
          <h4 class="mb-0">75%</h4>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Current</div>
        </div>
      </div>
    </div>
 

    <div class="col-6 col-lg-3">
      <div class="card ">
        <div class="card-body p-3 clearfix">
          <div class="float-right" style="margin-top:35px;">
            <div class="progress progress-xs mt-3 mb-0 " style="width:150px;">
              <div class="progress-bar bg-success" role="progressbar" style="width: 88%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="50"></div>
            </div>
          </div>
          <i class="fa fa-database bg-success p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 mt-2 ">DISK</div>
          <h4 class="mb-0">88%</h4>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Current</div>
        </div>
      </div>
    </div>


    <div class="col-lg-9" >
      <div class="card">
        <div class="card-header">
          Today Alert
        </div>
        <div class="card-body" >
          <div class="chart-wrapper" >
            <canvas style="height: 200px;" baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
          <div style="text-align: center"><strong>per Hour@timestamp</strong></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3" >
      <div class="card">
        <div class="card-header">
          TOP5 Agent
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas style="height: 200px;" baseChart class="chart"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-8">
      <div class="row">
    <div class="col-8 col-lg-6">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-laptop bg-info p-5 px-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 pt-3">Active Agent Connect</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs"><h4><strong>3</strong></h4> Agent Connect</div>
        </div>
      </div>
    </div>
  

    <div class="col-8 col-lg-6">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-laptop bg-warning p-5 px-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 pt-3">Total group</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs"><h4><strong>112</strong></h4> count</div>
        </div>
      </div>
    </div>


    <div class="col-6 col-lg-12">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-laptop bg-success p-5 px-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 pt-3" style="text-align: center;">PCI DSS</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs" style="text-align: center;"><h4><strong>1.030.12</strong></h4> </div>
        </div>
      </div>
    </div>

    </div>
  </div>

    <div class="col-lg-4" >
      <div class="card">
        <div class="card-header">
          TOP5 Source IP
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas style="height: 200px;" baseChart class="chart"
            [data]="pie2ChartData"
            [labels]="pie2ChartLabels"
            [chartType]="pie2ChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>

    -->

  </div>
</div>