<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <!--
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          UI Elements
        </li>
        -->
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle>
          <i class="icon-grid"></i> Dashboard</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-sub nav-link" routerLinkActive="active" [routerLink]="['/dashboard/overview']"> overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-sub nav-link" routerLinkActive="active" [routerLink]="['/dashboard/intrusion']"> Intrusion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-sub" routerLinkActive="active" [routerLink]="['/dashboard/vulnerability']"> Vulnerability</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-sub" routerLinkActive="active" [routerLink]="['/dashboard/system']"> System</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-sub" routerLinkActive="active" [routerLink]="['/dashboard/fulllogs']"> Full Logs</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle>
          <i class="icon-note"></i> Analysis</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link nav-sub" routerLinkActive="active" [routerLink]="['/analysis/correlation']"> Correlation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-sub" routerLinkActive="active" [routerLink]="['/analysis/elastalert']"> Alert</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle>
          <i class="icon-settings"></i> Configuration </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link nav-sub" routerLinkActive="active" [routerLink]="['/configuration/user']"> User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-sub" routerLinkActive="active" [routerLink]="['/configuration/agent']"> Agent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-sub" routerLinkActive="active" [routerLink]="['/configuration/system']"> System</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle>
          <i class="icon-screen-desktop"></i> Report</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link nav-sub" routerLinkActive="active" [routerLink]="['/report/configuration']"> Configuration</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/charts']">
          <i class="icon-loop"></i> Intelligence</a>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle>
          <i class="icon-screen-desktop"></i> User Info.</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link nav-sub" routerLinkActive="active" [routerLink]="['/userinfo/information']"> Information</a>
          </li>
        </ul>
      </li>
      <!--
      <li class="nav-item nav-dropdown" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle>
          <i class="icon-star"></i> Pages</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/login']">
              <i class="icon-star"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']">
              <i class="icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/404']">
              <i class="icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/500']">
              <i class="icon-star"></i> Error 500</a>
          </li>
        </ul>
      </li>
      -->
    </ul>
  </nav>
</div>