<div class="animated fadeIn">
  <div class="row">

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Top Hosts By CPU
        </div>
        <div class="card-body">
          <iframe  class="col-lg-12" style="height:180px;" src="http://172.27.0.230:5601/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((gridData:(h:1.5,i:'1',w:12,x:0,y:0),id:'855899e0-1b1c-11e7-b09e-037021c4f8df',panelIndex:'1',type:visualization,version:'6.1.1')),query:(language:lucene,query:''),timeRestore:!f,title:'New+Dashboard',uiState:(),viewMode:edit)"></iframe>
          
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
            Top Hosts By Memory
        </div>
        <div class="card-body">
            <iframe class="col-lg-12" style="height:180px;" src="http://172.27.0.230:5601/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((gridData:(h:1.5,i:'1',w:12,x:0,y:0),id:fe064790-1b1f-11e7-bec4-a5e9ec5cab8b,panelIndex:'1',type:visualization,version:'6.1.1')),query:(language:lucene,query:''),timeRestore:!f,title:'New+Dashboard',uiState:(),viewMode:edit)"></iframe>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Event Actions
        </div>
        <div class="card-body">
            <iframe class="col-lg-12" style="height:180px;"  src="http://172.27.0.230:5601/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((gridData:(h:1.5,i:'1',w:12,x:0,y:0),id:'97680df0-c1c0-11e7-8995-936807a28b16',panelIndex:'1',type:visualization,version:'6.1.1')),query:(language:lucene,query:''),timeRestore:!f,title:'New+Dashboard',uiState:(),viewMode:edit)"></iframe>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Event Categories
        </div>
        <div class="card-body">
            <iframe class="col-lg-12" style="height:180px;" src="http://172.27.0.230:5601/app/kibana#/dashboard?embed=true&_g=()&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((gridData:(h:1.5,i:'1',w:12,x:0,y:0),id:'08679220-c25a-11e7-8692-232bd1143e8a',panelIndex:'1',type:visualization,version:'6.1.1')),query:(language:lucene,query:''),timeRestore:!f,title:'New+Dashboard',uiState:(),viewMode:edit)" ></iframe>
        </div>
      </div>
    </div>

    <!--
    <div class="col-6 col-lg-4">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-laptop bg-info p-5 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 pt-3" style="text-align: center;">Agent Total Count</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs" style="text-align: center;">
            <h4>
              <strong>4</strong>
            </h4> Agent </div>
        </div>
      </div>
    </div>
    

    <div class="col-6 col-lg-4">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-laptop bg-warning p-5 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 pt-3" style="text-align: center;">Current Connect Agent</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs" style="text-align: center;">
            <h4>
              <strong>3</strong>
            </h4> Connect</div>
        </div>
      </div>
    </div>
    

    <div class="col-6 col-lg-4">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-laptop bg-success p-5 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 pt-3" style="text-align: center;">System Log Count</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs" style="text-align: center;">
            <h4>
              <strong>11,103,012</strong>
            </h4> Count</div>
        </div>
      </div>
    </div>
    

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Day of system log
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas style="height: 200px;" baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
          <div style="text-align: center">
            <strong>per Hour@timestamp</strong>
          </div>
        </div>
      </div>
    </div>
    

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Month of system log
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas style="height: 200px;" baseChart class="chart" [datasets]="bar2ChartData" [labels]="bar2ChartLabels" [options]="bar2ChartOptions"
              [legend]="bar2ChartLegend" [chartType]="bar2ChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
          <div style="text-align: center">
            <strong>per Day@timestamp</strong>
          </div>
        </div>
      </div>
    </div>
    

    <div class="col-lg-4" >
        <div class="card">
          <div class="card-header">
            TOP5 Agent
          </div>
          <div class="card-body">
            <div class="chart-wrapper">
              <canvas style="height: 200px;" baseChart class="chart"
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>
      

      <div class="col-lg-4" >
          <div class="card">
            <div class="card-header">
              TOP5 Source IP
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas style="height: 200px;" baseChart class="chart"
                [data]="pie2ChartData"
                [labels]="pie2ChartLabels"
                [chartType]="pie2ChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>
        

        <div class="col-6 col-lg-4">
            <div class="card">
              <div class="card-body p-0 clearfix">
                <i class="fa fa-laptop bg-danger p-5 px-5 font-2xl mr-3 float-left"></i>
                <div class="h5 text-danger mb-0 pt-3" style="text-align: center;">Top User</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs" style="text-align: center;">
                  <h4>
                    <strong>root</strong>
                  </h4> </div>
              </div>
            </div>
          </div>
        -->
  </div>
</div>